<% layout( 'layout' ) -%>




<% todos.forEach( function ( todo ){ %>
  <% if( todo._id == current ){ %>
  <div class="item-new">
  <% }else{ %>
  <div class="item">
  <% } %>

    <% if( todo._id == current ){ %>
    <div>
      <form action="/update/<%= todo._id %>" method="post" accept-charset="utf-8">
        <div class="input-group" style="width:100%">
          <div style="font-size:16px;font-color:#333;">
            <%= todo.updated_at %>
            <span style="float:right;">
              <a href="/destroy/<%= todo._id %>" style="color:rgb(239,200,212);font-size:16px"><span class="glyphicon glyphicon-remove" ></span></a>
            </span>
          </div>
          <input type="text" class="form-control" style="border:none;border-bottom:2px solid rgb(239,200,212);box-shadow:none;background: rgba(255,255,255,0);" name="content" value="<%= todo.content %>">
        </div>
      </form>
    </div>
    <% }else{ %>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><%= todo.updated_at %></span>
          <input class="form-control" type="text" name="content" value="<%= todo.content %>" />
              <span class="input-group-btn">
            <a class="btn btn-default " href="/destroy/<%= todo._id %>" type="button">Del</a>
          </span>
      </div>
    <% } %>
  <br/>
<% }); %>

