<% layout( 'layout' ) -%>

<form action="/create" method="post" accept-charset="utf-8">
<div class="input-group" style="width:100%">
  <div style="font-size:16px;font-color:#333;padding: 0 10px;"><%= timenow %></div>
  <input type="text" class="form-control" style="border:none;border-bottom:2px solid rgb(239,200,212);box-shadow:none;background: rgba(255,255,255,0);" name="content" placeholder="比如 拆开快递包裹控制不住地捏完了里面填充的泡泡纸">
</div>  
</form>
<br/>

<% todos.forEach( function ( todo ){ %>
<div class="input-group" style="width:100%">

  <div style="font-size:16px;font-color:#333;padding: 0 10px;"> <%= todo.updated_at %> 
   <!--  <span style="float:right;">
      <a href="/edit/<%= todo._id %>" style="color:rgb(239,200,212);font-size:16px;margin-right:10px"><span class="glyphicon glyphicon-pencil" ></span></a>
      <a href="/destroy/<%= todo._id %>" style="color:rgb(239,200,212);font-size:16px"><span class="glyphicon glyphicon-remove" ></span></a>
    </span> -->
  </div>
  <input type="text" class="form-control" style="border:none;border-bottom:2px solid rgb(239,200,212);box-shadow:none;background: rgba(255,255,255,0);" name="content" value="<%= todo.content %>">
</div> 
<br/> 
<% }); %>


